@media print {
  * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  body {
    background: none !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.app {
  background-color: white;
  /* background-image: url('./assets/months/May.jpg'); */
  display: flex;
  flex-direction: column;
  /* height: 1000px; */
  margin: 0px auto;
  width: 1000px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav > a {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin: 8px 0px;
  padding: 4px 0px;
  text-decoration: none;
  width: 200px;
}

nav > a > i {
  margin-left: 8px;
}

h1 {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  /* text-shadow: 0px 0px 5px white; */
  font-size: 4em;
  margin: 24px 0 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}

.day-container {
  /* background-color: rgba(255, 255, 255, 0.6); */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  height: 100px;
  width: 120px;
}

.dotw > div {
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 4px;
  padding: 4px 0px;
  text-align: center;
  /*  text-shadow: 0px 0px 8px white;*/
  width: 120px;
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
}

.day-label {
  margin: 8px;
}

.gray-label {
  color: #ccc;
}

footer {
  margin: 4px;
  text-align: center;
  text-shadow: 0px 0px 5px white;
}